body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32 px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: circle outside;
}

header > img {
  width: 100px;
}

ul li a {
  color: inherit;
}

html {
  background-color: green;
}